<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab Two
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="/assets/shapes.svg"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>Get Started</ion-card-subtitle>
        <ion-card-title>Welcome to Google</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Now that your app has been created, you'll want to start browsing any website what you want.</p>
      </ion-card-content>
    </ion-card>
    <ion-list lines="none">
      <ion-list-header>
        <ion-label>Resources</ion-label>
      </ion-list-header>
      <ion-item href="https://google.com">
        <ion-icon slot="start" color="medium" name="book"></ion-icon>
        <ion-label>Google</ion-label>
      </ion-item>
      <ion-item href="https://facebook.com">
        <ion-icon slot="start" color="medium" name="build"></ion-icon>
        <ion-label>Facebook</ion-label>
      </ion-item>
      <ion-item href="https://github.com/Rijvi-Ahmed">
        <ion-icon slot="start" color="medium" name="grid"></ion-icon>
        <ion-label>Rijvi Ahmed</ion-label>
      </ion-item>
    </ion-list>
</ion-content>
